graft docs
graft examples
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig
include .isort.cfg

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements.txt
include requirements_conda.txt
include tox.ini .travis.yml appveyor.yml
include docs/mydictionary.txt
include readme_.rst

exclude BUILDING.txt
exclude  *.old
exclude service
include freeze.py  
include setupdata.py
exclude ui

global-exclude *.py[cod] __pycache__ *.so *.dylib  output.txt
recursive-exclude junk *
recursive-exclude src *.rpt
recursive-exclude src/rrpam_wds/tests ?.inp
global-exclude  log.txt
global-exclude  *.log
global-exclude  *.log.[0-9]
recursive-exclude service *
recursive-exclude src/docs_ *

global-exclude *.swp
global-exclude *.bash
global-exclude *.ui

global-exclude prof.out



