pyqt  numpy scipy pillow Cython  
# we use `cat -n1 ` to read this file. So, it reads only the first line!. Have all the requirements in that line 
# seperate by space
# Beofre adding to this, make sure that anaconda provides the package. 
# To install from pypi with pip, add to requirements.txt
# (however pyqt famously does not work with pip!)

#note: pyqt defaults to pyqt5
